.App {
  text-align: center;
  margin-top: 3%;
  height: 80vh;
  color: #E76E3C;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:center;
  /* margin-top:25px; */
  margin-left:45px;
}

.nav-links a {
  text-decoration: none;
  color: #e76e3c;
  font-weight: bold;
  margin-right: 45px;
}


.articles-list-wrapper {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  width: 250px;
  margin: 0 10px 32px;
}

.article-card p {
  margin: 0 0 4px;
  text-align: left;
  color: #595959;
}

.article-list-image {
  width: 100%;
  border: 1px solid lightgray;
}

.articles-header{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

.articles-button {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-content:flex-end;
  flex-wrap:wrap;
  margin-right:25px;
}



.articles-button .md-button {
  margin: 0 8px;
  margin-right:20px;
  border: none;
  border-radius: 2px;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  vertical-align: middle;
  text-align: center;
  text-overflow: ellipsis;
  font-size:1.3rem;
  font-weight:bold;
  color: #fff;
  background-color: #e76e3c;
}

a{
  text-decoration:none;
  font-weight:bold;
}

h2,h3,h4{
  color:#4098db;
}






