*{
  font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4{
  font-family: 'Righteous', cursive;

}


.App {
  text-align: center;
  height: 80vh;
  color: #E76E3C;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation{
  display:flex;
  align-items:center;
  width:100%;
  padding:20px;
}

.nav-links {
 color:#e76e3c;
}

.search-form {
  flex:1;
}

.nav-links a {
  text-decoration: none;
  color: #e76e3c;
  font-weight: bold;
} 

a{
  text-decoration:none;
<<<<<<< HEAD
  font-weight:bold;
}

a:hover{
  color:#4098db;
=======
>>>>>>> 8931df042c9e9554bbc6adb0f01cabc4e1ecc4e8
}

a:hover{
  color: lightgrey;
}







